<html>
<script src="JS/jquery.js"></script>
<script src="JS/angular.js"></script>
<script src="JS/func2.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<!-- Latest compiled Bootstrap JavaScript -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<link href='css/design2.css' rel='stylesheet' type='text/css'>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<style>
@font-face {
  font-family: 'Josefin Slab';
  src: url('fonts/JosefinSlab-Light.ttf') format('truetype');
  src: url('fonts/JosefinSlab-SemiBold.ttf') format('truetype');
  src: url('fonts/JosefinSlab-Thin.ttf') format('truetype');
  src: url('fonts/JosefinSlab-Bold.ttf') format('truetype');
  src: url('fonts/JosefinSlab-Regular.ttf') format('truetype');
}		

</style>

<body id="bod" style="background-color:darkgray;">	

<div id="top" class="top row" align="center">
<div class="col-xs-12">
Overstock
</div>
</div>

<div id="bar" class="bar">
<div id="menu" class="menu col-xs-1" align="center" >
<div class="menu-top" align="center">
</div>
<div class="menu-mid" align="center">
</div>
<div class="menu-bot" align="center">
</div>
</div>
<div class="menu-bar">
</div>
<div class="col-md-2 col-sm-1 col-lg-3 col-xs-0">
</div>
<div id="home" class="nav col-xs-1" align="center" style="margin-left:4%;">
TABLES
</div>
<div id="first" class="nav col-xs-1" align="center">
SOFAS
</div>
<div id="second" class="nav col-xs-1" align="center">
DINING
</div>
<div id="third" class="nav col-xs-1" align="center">
BEDS
</div>
<div id="fourth" class="nav col-xs-1" align="center">
SIGN UP
</div>
<div class="col-xs-3 col-md-3">
</div>
</div>

</head>






<div id="hom" class="hid" style="display:block;">

<div class="block">	
</div>
<div>
<button class="shift" ><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div>
<button class="shift2" ><span class="glyphicon glyphicon-chevron-left"></span></button>
</div>
<div>
<button class="lowright"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>

<div class="totop">
TO TOP
</div>
<div class="go-down">
GO DOWN
</div>
<div class="go-up">
GO UP
</div>

<img src ="d1.jpg" width="102.2%" height="550" style="margin-left:-10"> </br><br>
<img src ="d3.jpg" width="102.2%" height="550" style="margin-left:-10"> </br>
<img src ="d4.jpg" width="800" height="550" style="margin-left:7%"> </br>
<img src ="d5.jpg" width="800" height="550" style="margin-left:7%"> </br>
</div>
<div id="prod" class="hid">
<div class="block">	
</div>
<div>
<button class="shift" ><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div>
<button class="shift2" ><span class="glyphicon glyphicon-chevron-left"></span></button>
</div>
<div>
<button class="lowright"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>
<div class="totop">
TO TOP
</div>
<div class="go-down">
GO DOWN
</div>
<div class="go-up">
GO UP
</div>

<img src ="1.jpg" width="800" height="550" style="margin-left:7%"> </br>
<img src ="2.jpg" width="800" height="550" style="margin-left:7%"> </br>
<img src ="3.png" width="800" height="550" style="margin-left:7%"> </br>
<img src ="4.jpg" width="800" height="550" style="margin-left:7%"> </br>
<img src ="5.jpg" width="800" height="550" style="margin-left:7%"> </br>

</div>
<div id="serv" class="hid">
<div class="block">	
</div>
<div>
<button class="shift" ><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div>
<button class="shift2" ><span class="glyphicon glyphicon-chevron-left"></span></button>
</div>
<div>
<button class="lowright"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>
<div class="totop">
TO TOP
</div>
<div class="go-down">
GO DOWN
</div>
<div class="go-up">
GO UP
</div>

<dl>
<img src ="t5.jpg" width="800" height="550" style="margin-left:7%"> 
<img src ="t2.jpg" width="800" height="550" style="margin-left:7%">
<img src ="t3.jpg"width="800" height="550" style="margin-left:7%">
<img src ="t4.png"width="800" height="550" style="margin-left:7%">
<img src ="t6.jpg" width="800" height="550" style="margin-left:7%">
</dl>


</div>
<div id="hist" class="hid">
<div class="block">	
</div>
<div>
<button class="shift" ><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div>
<button class="shift2" ><span class="glyphicon glyphicon-chevron-left"></span></button>
</div>
<div>
<button class="lowright"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>
<div class="totop">
TO TOP
</div>
<div class="go-down">
GO DOWN
</div>
<div class="go-up">
GO UP
</div>
<img src ="b1.jpg" width="780" height="520" style="margin-left:7%">
<img src ="b2.jpg" width="780" height="520" style="margin-left:7%"> 
<img src ="b3.jpg"width="780" height="520" style="margin-left:7%"> 
<img src ="b4.jpg"width="780" height="520" style="margin-left:7%"> 
<img src ="b5.jpg"width="780" height="520" style="margin-left:7%"> 
</div>
<div id="sign" class="sign">
<div class="block">	
</div>
<div>
<button class="shift" >></button>
</div>
<div>
<button class="shift2" ><</button>
</div>
<div>
<button class="lowright2">^</button>
</div>
<div class="totop2">
TO TOP
</div>
<div class="go-down">
GO DOWN
</div>
<div class="go-up">
GO UP
</div>
 <b><h1>Sign Up</h1></b><br>
<form ng-app="myApp" ng-controller="validateCtrl" name="myForm" method="post" onsubmit="return ValidateForm(this);" novalidate>
<p><h3>Username:</h3>
<input class="input" type="text" name="user" ng-model="user" required><br><br>
<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
<span ng-show="myForm.user.$error.required">Username is required.</span>
</span>
</p>

<p><h3>Email:</h3>
<input class="input" type="email" name="email" ng-model="email" required><br><br>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Email is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span>
</span>
</p>


<fieldset>

<label for="password"><h3>Password:</h3></label>
          <input type="password" class="input" id="password" name="fname"> <br><br>
<label><h3>Gender:</h3></label> 
          <input type="radio" id="Gender" value="Gender" checked="checked" name="user_age"><label for="under_13" class="light"><h3>Male  </h3></label> 
          <input type="radio" id="Gender" value="Gender" name="user_age"><label for="over_13" class="light"><h3>Female</h3></label><br>
      


<label for="City"><h3>City:</h3></label>
          <input type="text" class="input" id="City" name="City"> <br>

<label for="Country"><h3>Country:</h3></label>
          <input type="text" class="input" id="Country" name="Country"> <br>

<label for="Address"><h3>Address:</h3></label>
          <textarea id="Address" class="input" name="Address"></textarea>
          
         
          
            </fieldset>
        
        <fieldset>
        
        </fieldset>
        <fieldset>
        <label for="Credit Card"><h3>Credit Card:</h3></label>
        <select class="input" id="Credit Card" name="Credit Card">
          
            <option value="Visa">Visa</option>
            <option value="Mastercard">Mastercard</option>
            <option value="American Express">American Express</option>
            <option value="Discover">Discover</option>
            
         
        </select>
        
         
        
        </fieldset>

<p> <br>
<input id="button" type="submit"
ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid">
</p>

</form>

</div>

</body>


<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = 'John Doe';
    $scope.email = 'john.doe@gmail.com';
});

function ValidateForm(frm) 
{

if (frm.fname.value == "") {alert('Password is required.');frm.fname.focus();return false;}
if (frm.City.value == "") {alert('City is required.');frm.City.focus();return false;}
if(isNaN(frm.City.value)){}
else{alert('City is invalid.');}
if (frm.Country.value == "") {alert('Country is required.');frm.Country.focus();return false;}
if(isNaN(frm.Country.value)){}
else{alert('Country is invalid.');}
if (frm.Address.value == "") {alert('Address is required.');frm.StreetAddress1.focus();return false;}
return true;	
 }
</script>

</html>
